.poc-card {
  margin: 20px;
  width: 940px;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.display {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.toggle-daily {
  order: -1;
  align-self: flex-start;
  flex: 425px 1 1;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.toggle-daily .daily, .toggle-daily .weekly {
  width: 80px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
}